* {
    margin: 0;
}

.body-cadastro {
    background: linear-gradient(113.96deg, #3776DF 0%, #749FE4 100%);
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}