.navbar-container{
  width: 100vw;
  height: 70px;

  display: flex;
  align-items: center;
  flex-direction: row;
  
  background: #0C4A6E;
}

.navbar-content{
  margin-left: 15px;
}

.navbar-butitle{
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 5px;
}

.navbar-title{  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: -0.18px;
  
  color: #FFFFFF;
}

.navbar-button{
  width: 35px;
  height: 35px;
  
  background: transparent;
  border: none;
  border-radius: 30px;

  color: #FFFFFF;
}
.navbar-button:hover{
  background:  #072537;
}

.navbar-description{  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  
  letter-spacing: -0.18px;
  
  color: #FFFFFF;
}